
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.shadow-circle{
   
    height:100px;
    width:100px;
    box-shadow: 1px 2px 17px 20px #fbfcf5fd;
    margin: auto;

}
.container {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 180px;
    height: 450px;
    border-radius: 20px;
    background-color: black;
    color: rgb(177, 7, 7);
    margin-bottom: 10px;
    margin-top: 10px;
}

.red {
    height:100px;
    width:100px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    background-color: rgb(255, 0, 64);
    margin: auto;
    text-align: center;

}

.green {
    height:100px;
    width:100px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    background-color: rgb(26, 240, 26);
    margin: auto;
    text-align: center;
}

.yellow {
    height:100px;
    width:100px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    background-color: rgb(255, 251, 4);
    margin: auto;
    text-align: center;

}


